* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: whitesmoke;
  color: #252525;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.logo {
  width: 45px;
}

nav {
  padding: 10px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_btns {
  display: flex;
  gap: 10px;
}

.nav_btns>a {
  text-decoration: none;
  color: #252525;
  font-weight: 500;
}