:root {
  --background: whitesmoke;
  --text: #252525;
  --primary: white;
  --secondary: rgb(53, 185, 108);
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.container {
  width: 60%;
  margin: 0 auto;
}

#menu {
  display: none;
  border: none;
  background-color: transparent;
  color: var(--secondary);
  font-weight: bold;
  cursor: pointer;
}

#menu>svg {
  font-size: 30px;
}

.logo {
  width: 45px;
}

nav {
  padding: 10px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_btns_2 {
  display: flex;
  gap: 10px;
}

.nav_btns_2>a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

.home {
  padding-top: 10vh;
  text-align: center;
}

.nav__title {
  font-style: italic;
  color: var(--secondary);
}

.nav_btns_2>.active {
  color: var(--secondary);
}

.welcome {
  font-weight: 500;
  opacity: 80%;
  text-transform: uppercase;
}

.welcome_message {
  font-weight: lighter;
  margin-top: 8px;
  color: var(--text);
  opacity: 80%;
  font-size: 17px;
}

.reg__img {
  width: 150px;
}

.reg__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  background-color: #fffffffa;
  border-radius: 8px;
  padding: 50px 25px;
}

.reg__right,
.log__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reg__login {
  font-weight: 500;
  font-style: italic;
  opacity: 80%;
}

.reg__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.reg__form>input {
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: whitesmoke;
}

.reg__form>button,
.contact__form>button,
form.about>button {
  width: 200px;
  padding: 5px 10px;
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
  background-color: var(--secondary);
  color: var(--background);
  border: none;
  cursor: pointer;
}

.reg__login>a {
  color: var(--secondary);
}

.contact__main {
  background-color: var(--primary);
  padding: 25px 20px;
  border-radius: 8px;
}

.contact__inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.contact__inputs>input {
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  background-color: var(--background);
  outline: none;
}

.contact__form>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact__form>div>textarea {
  font-size: 1rem;
  width: -webkit-fill-available;
  background-color: var(--background);
  border: none;
  outline: none;
  padding: 10px;
  height: 100px;
  margin-bottom: 10px;
}

.about__img {
  width: 150px;
}

.about__name {
  font-style: italic;
  color: var(--secondary);
}

.about__tag {
  font-weight: 500;
  opacity: 80%;
}

.about__details>P:nth-child(1) {
  font-style: italic;
  font-weight: 500;
  -webkit-text-decoration: wavy;
  text-decoration: underline;
  color: var(--secondary);
}

.about__details {
  padding: 15px 0;
}

.about__hl {
  font-weight: bold;
  font-style: italic;
}

.about__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__table {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form.about {
  padding: 10vh 200px;
  background-color: var(--primary);
  border-radius: 8px;
}

.about__table>p {
  color: var(--secondary);
  font-weight: 500;
  font-style: italic;
}

.error__page {
  text-align: center;
}

.error__img {
  width: 200px;
}

.none {
  display: none;
}

.show {
  display: flex;
}

@media screen and (max-width:1440px) {
  form.about {
    padding: 10vh 50px;
  }
}

@media screen and (max-width:1024px) {
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 767px) {
  .contact__inputs {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 650px) {
  .about__table {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .reg__main {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  #menu {
    display: block;
  }

  #menu0 {
    display: none;
    position: absolute;
    right: 37px;
    top: 60px;
    flex-direction: column;
    align-items: flex-end;
  }

  #menu1 {
    display: flex;
    position: absolute;
    right: 37px;
    top: 60px;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (max-width:425px) {
  .welcome {
    font-size: 0.99rem;
  }

  .nav__title {
    font-size: 1.3rem;
  }

  .reg__img,
  .about__img {
    width: 101px;
  }

  .reg__form>button,
  form.about>button,
  .contact__form>button {
    width: 145px;
  }
}