:root {
  --background: whitesmoke;
  --text: #252525;
  --primary: white;
  --secondary: rgb(53, 185, 108);
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.container {
  width: 60%;
  margin: 0 auto;
}

.logo {
  width: 45px;
}

nav {
  padding: 10px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_btns {
  display: flex;
  gap: 10px;
}

.nav_btns>a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

.home {
  padding-top: 10vh;
}

.nav__title {
  color: var(--secondary);
}

.nav_btns>.active {
  color: var(--secondary);
}

.welcome {
  font-weight: 500;
  opacity: 80%;
  font-style: italic;
  text-transform: uppercase;
}

.reg__img {
  width: 150px;
}

.reg__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  background-color: #fffffffa;
  border-radius: 8px;
  padding: 50px 25px;
}

.reg__right,
.log__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reg__login {
  font-weight: 500;
  font-style: italic;
  opacity: 80%;
}

.reg__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.reg__form>input {
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: whitesmoke;
}

.reg__form>button,
.contact__form>button {
  width: 200px;
  padding: 5px 10px;
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
  background-color: var(--secondary);
  color: var(--background);
  border: none;
  cursor: pointer;
}

.reg__login>a {
  color: var(--secondary);
}

.contact__main {
  background-color: var(--primary);
  padding: 25px 20px;
  border-radius: 8px;
}

.contact__inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.contact__inputs>input {
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  background-color: var(--background);
  outline: none;
}

.contact__form>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact__form>div>textarea {
  font-size: 1rem;
  width: -webkit-fill-available;
  background-color: var(--background);
  border: none;
  outline: none;
  padding: 10px;
  height: 100px;
  margin-bottom: 10px;
}